.serviceDetails{
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        width: 100%;
        padding: 2% 8%;
        gap: 2.5vw;

        .left{
            display: flex;
            flex: 2;
            flex-direction: column;
            gap: 2vw;
            width: 100%;

            .header{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1vw;

                h1{
                    font-size: 1.8vw;
                }

                .seller{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.4vw;

                    .link{
                        display: flex;
                        justify-content: center;
                        .seller-pp{
                            width: 4vw;
                            height: 4vw;
                            border-radius: 50%;
                            cursor: pointer;
                        } 
                    }


                    .seller-info{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        gap: 0.3vw;

                        .link{
                            display: flex;
                            justify-content: center;
                            span{
                                font-size: 1vw;
                                cursor: pointer;
                            }
                        }
                        
                        
                        .rating{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 0.4vw;

                            img{
                                width: 1vw;
                                height: 1vw;
                            }

                            span{
                                font-size: 0.8vw;
                                margin-bottom: -0.2vw;
                            }

                        }
                        .contact-me{
                            margin-bottom: -0.2vw;
                            display: flex;
                            justify-content: center;
                            font-size: 0.8vw;
                            width: 5.6vw;
                            height: 1.3vw;
                            background-color: #65451F;
                            border: none;
                            align-items: center;
                            border-radius: 0.2vw;
                            color: white;
                            cursor: pointer;
                        }
                        
                    }
                }
            }

            .img-slider{
                border: 1px solid #65451F;
                padding: 2%;
                border-radius: 0.2vw;
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 28vw;
                    height: 28vw;
                    object-fit: contain;
                }
            }

            .desc{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                border: 1px solid #65451F;
                padding: 2%;
                border-radius: 0.2vw;
                gap: 0.4vw;

                h2{
                    font-size: 1.2vw;
                }

                p{
                    font-size: 0.8vw;
                    color: rgb(70, 70, 70);
                }

            }

        }

        .right{
            display: flex;
            flex: 1;
            flex-direction: column;
            background-color: rgba(118, 88, 39, 0.8);
            border-radius: 0.4vw;
            padding: 2%;
            gap: 1vw;
            position: sticky;
            justify-content: center;
            top: 6.2vw;
            max-height: 20vw;

            .price{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3{
                    font-size: 1.4vw;
                    color: white;
                }
            }

            p{
                font-size: 1vw;
                color: white;
            }

            .details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0.2vw;

                .item{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.4vw;

                    img{
                        width: 2.4vw;
                        height: 2.4vw;
                    }

                    span{
                        font-size: 0.9vw;
                        color: white;
                    }
                }
            }

            button{
                background-color: white;
                color: #65451F;
                font-weight: 700;
                border: none;
                width: 100%;
                border-radius: 0.4vw;
                font-size: 1.2vw;
                padding: 0.6vw;
                cursor: pointer;
            }
        }
    }
}