.recommendation{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .text-rec{
        font-size: 2vw;
        font-weight: 700;
        color: #FFEAC6;
        background-color: #765827;
        padding: 1vw 32vw;
        border-radius: 5vw;
    }

}