.help{
    display: flex;
    justify-content: center;
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2% 8%;
        gap: 2vw;

        h1{
            font-size: 2vw;
            color: #65451F;
        }

        .search-bar-help{
            display: flex;
            align-items: center;

            .search-input-help{
                width: 30vw;
                height: 3.2vw;
                padding-left: 2%;
                padding-right: 2%;
                border-color: transparent;
                border-radius: 0.4vw 0vw 0vw 0.4vw;
                border: 2px solid #65451F;
                font-size: 1vw;
                outline: none;
                box-sizing: border-box;
            }

            .search-button-help{
                width: 3.2vw;
                height: 3.2vw;
                background-color: #65451F;
                border-color: transparent;
                border-radius: 0vw 0.4vw 0.4vw 0vw;
                border: none;
                display: flex;
                justify-content: center;
                padding: 0;
                align-items: center;
                box-sizing: border-box;

                .search-icon-help{
                    width: 60%;
                    height: auto;
                    cursor: pointer;
                }
            }
        }

        .menu{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2vw;

            button{
                padding: 1.6vw 0.8vw;
                border-radius: 0.6vw;
                border: 3px solid #65451F;
                background-color: transparent;
                font-size: 1.2vw;
                font-weight: 500;
                color: #65451F;
                cursor: pointer;
            }

        }
    }
}