.register{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw 6vw;
    background-color: #C8AE7D;
    height: 100vh;

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 0.6vw;

        .link-header{
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 1vw;

            img{
                width: 5vw;
                height: 5vw;
                cursor: pointer;
            }
        }

        .register-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #F7DFB5;
            box-shadow: 0px 0px 75px 10px rgba(101, 69, 31, 0.30);
            width: 100%;
            height: 100%;

            .left{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 100%;

                img{
                    width: 35vw;
                    height: auto;
                }
            }

            .right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                padding: 2%;
                width: 60%;
                height: 100%;
                gap: 1.4vw;

                h1{
                    font-weight: 900;
                    font-size: 3.4vw;
                    color: #65451F;
                }

                .input-bar{
                    gap: 1vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .username-bar, .email-bar, .password-bar{
                        display: flex;
                        flex-direction: column;
                        width: 36vw;
                        gap: 0.4vw;

                        label{
                            font-size: 1.6vw;
                            font-weight: 400;
                        }

                        input{
                            width: 100%;
                            border: 2px solid #65451F;
                            border-radius: 5px;
                            padding-left: 2%;
                            height: 2.4vw;
                            font-size: 1.2vw;
                            outline: none;
                        }
                    }

                    .mobile-date{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 36vw;

                        .mobile-bar{
                            display: flex;
                            flex-direction: column;
                            width: 17.5vw;
                            gap: 0.4vw;
    
                            label{
                                font-size: 1.6vw;
                                font-weight: 400;
                            }
    
                            input{
                                width: 100%;
                                border: 2px solid #65451F;
                                border-radius: 5px;
                                padding-left: 2%;
                                height: 2.4vw;
                                font-size: 1.2vw;
                                outline: none;
                            }
                        }

                        .date-bar{
                            margin-right: -0.4vw;
                            display: flex;
                            flex-direction: column;
                            width: 17.5vw;
                            gap: 0.4vw;
    
                            label{
                                font-size: 1.6vw;
                                font-weight: 400;
                            }
    
                            input{
                                width: 100%;
                                border: 2px solid #65451F;
                                border-radius: 5px;
                                padding: 0.06vw 0;
                                padding-left: 2%;
                                height: 2.3vw;
                                font-size: 1.2vw;
                                outline: none;
                            }
                        }
                    }
                }

                .check-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.2vw;

                    input{
                        width: 1.4vw;
                        height: 1.4vw;
                    }

                    span{
                        font-size: 1.2vw;
                    }
                }
                
                button{
                    border: none;
                    background-color: #65451F;
                    outline: transparent;
                    padding: 0.8vw 1.6vw;
                    font-size: 1.8vw;
                    border-radius: 0.4vw;
                    color: white;
                    font-weight: 600;
                    cursor: pointer;
                }

                .already-have-account{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.3vw;
                    font-size: 1.2vw;

                    .link{
                        text-decoration: none;
                        color: #65451F;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}