.review{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;

    .user{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.4vw;

        img{
            width: 2vw;
            height: 2vw;
            border-radius: 50%;
        }

        span{
            font-size: 1vw;
        }
    }

    .ratings{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.4vw;

        img{
            width: 1vw;
            height: 1vw;
        }

        span{
            margin-bottom: -0.2vw;
            font-size: 0.8vw;
        }
    }

    p{
        font-size: 1vw;
    }

    hr{
        width: 100%;
    }
}