.message{
    display: flex;
    justify-content: center;
    padding: 2% 8%;

    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.4vw;

        .header{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.6vw;
            background-color: #65451F;
            padding: 1vw 2vw;
            border-radius: 0.2vw;
            
            img{
                width: 4vw;
                height: 4vw;
                border-radius: 50%;
            }

            span{
                font-size: 1.6vw;
                font-weight: 700;
                color: white;
            }
        }

        .messages{
            display: flex;
            flex-direction: column;
            border: 1px solid #65451F;
            border-radius: 0.2vw;
            gap: 1vw;
            height: 22vw;
            margin: 1vw 0vw;
            padding: 2.6vw;
            overflow: scroll;

            &::-webkit-scrollbar{
                width: 0;
            }

            .item{
                display: flex;
                gap: 1vw;
                max-width: 34vw;
                font-size: 1vw;

                &.owner{
                    flex-direction: row-reverse;
                    align-self: flex-end;
                    
                    p{
                        background-color: rgb(70, 130, 243);
                        color: white;
                    }
                }

                img{
                    width: 2vw;
                    height: 2vw;
                    border-radius: 50%;
                    object-fit: cover;
                }

                p{
                    padding: 1vw;
                    background-color: rgb(230, 230, 230);
                    border-radius: 1vw 1vw 1vw 1vw;

                }

            }

        }

        hr{
            width: 100%;
        }

        .type{
            display: flex;
            justify-content: space-between;
            align-items: center;

            textarea{
                width: 88%;
                height: 2.5vw;
                border: 1px solid #65451F;
                border-radius: 0.2vw;
                padding: 0.6vw;
                font-size: 1vw;
                outline: none;
            }

            button{
                width: 10%;
                height: 100%;
                font-size: 1.2vw;
                background-color: #65451F;
                color: white;
                font-weight: 600;
                border-radius: 0.2vw;
                border: none;
                cursor: pointer;
            }
        }

    }
}